body {
  font-family: Arial, Helvetica, sans-serif;
  color: #455a8f;
}

h1 {
  font-size: 42px;
  line-height: 32px;
  line-height: 36px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
.weather-app {
  background-color: #dbf6e9;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1.5px solid grey;
  border-radius: 8px;
}
.col-6 {
  padding: 20px 60px;
}
